* {
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}

.background {
    background-image: url(netflix_background.jpg);
    height: 100vh;
    /* width: 100%; */
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px 100vw);
}

div.background_box {
    height: 100vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    /* background-size: cover; */
    position: absolute;
    top: 0;
}


nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.text {
    position: relative;
    /* z-index: 10; */
    color: #ffffff;
    height: 90%;
    /* height: calc(100% -62px); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 0 28px;
}

.text h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0px;
    text-align: center;
}

/* .text h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
} */

.text h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.text p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    color: white;
    padding: 7px 30px;
    font-weight: bold;
    background-color: rgba(25, 25, 25, 0.2);
    border: 0.5px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 13px 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 0.2px solid white;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.background input {
    background-color: rgba(25, 25, 25, 0.7);
    padding: 15px 110px 9px 16px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.2px solid white;
    color: white;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border-radius: 4px;
    border: 0.2px solid white;
    padding: 7px 13px;
}

.line {
    background-color: gray;
    height: 5px;

}

.h {
    background-color: black;
    color: white;
    height: 30px;
    width: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding-top: 15px;
    margin-left: 200px;
}

/* section {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;

} */

.box {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    padding: 0px 70px;
    gap: 15px;
    max-width: 80vw;
}

.photo img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: auto;
    width: 196px;
    border-radius: 12px;
    margin-top: 30px;
}

.photo img:hover {
    transform: scale(1.1);
}

.h1 {
    color: white;
    height: 30px;
    width: auto;
    padding-top: 60px;
    margin-left: 180px;
    margin-top: 0px;
}

.box2 {
    background-color: linear-gradient(to right, #0d0632, #290736);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    padding: 0px 70px;
    gap: 15px;
    max-width: 80vw;
}

.details_1 {
    background-color: rgba(35, 15, 54, 0.76);
    height: 300px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 12px;

}

.details_2 {
    background-color: rgba(35, 15, 54, 0.76);
    height: 300px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 12px;

}

.details_3 {
    background-color: rgba(35, 15, 54, 0.76);
    height: 300px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 12px;

}

.details_4 {
    background-color: rgba(35, 15, 54, 0.76);
    height: 300px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 12px;

}

/* .span_1{
    color: white;
    margin-bottom: 200px;
    font-size:22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.h2 {
    color: white;
    height: 30px;
    width: auto;
    padding-top: 60px;
    margin-left: 180px;
    margin-top: 0px;
    
}

.faq {
    background-color: black;
    color: #ffffff;
    padding: 34px;
    font-size: 24px;
}

.faqbox_1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(61, 58, 58);
    padding: 24px;
    max-width: 70vw;
    margin: 34px auto;
}

.faqbox_2 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(61, 58, 58);
    padding: 24px;
    max-width: 70vw;
    margin: 34px auto;
}

.faqbox_3 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(61, 58, 58);
    padding: 24px;
    max-width: 70vw;
    margin: 34px auto;
}

.faqbox_4 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(61, 58, 58);
    padding: 24px;
    max-width: 70vw;
    margin: 34px auto;
}

.faqbox_5 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(61, 58, 58);
    padding: 24px;
    max-width: 70vw;
    margin: 34px auto;
}

.last_text{
    color: #ffffff;
    height: 20px;
    width: auto;
    max-width: 70vw;
    margin: 20px 100px 20px 400px;
    
}

.email_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 70px;
}

.email_buttons input{
    background-color: rgba(25, 25, 25, 0.7);
    padding: 20px 350px 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.2px solid white;
    color: white;
}

.Get_started{
    background-color: red;
    color: white;
    padding: 13px 50px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    border: 0.2px solid white;
}

.contact{
    color: #ffffffb3;
    font-size: 16px;
    margin-left: 12%;
    padding-bottom: 40px;
}

footer{
    height: 100vh;
    width: auto;
}

.footpanel_1 {
    color: #ffffffb3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul a{
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 18px;
    font-size: 15px;
    text-decoration: underline;
}

.select_language{
    padding-top: 35px;
    padding-left: 2%;
    
}

select{
    background-color: rgba(25, 25, 25, 0.7);
    color: white;
    height: 40px;
    width: 130px;
    border: 2px solid white;
    border-radius: 6px;
    padding-left: 17px;
    font-weight: bold;
    margin-bottom: 38px;
}

.netflix_india{
    color: #ffffffb3;
    font-size: 15px;
    padding-left: 157px;
    margin-bottom: 38px;
}

.about_me{
    color: white;
    padding-left: 157px;
}

.about_me h3{
    color: white;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
}

.about_me p{
    color: white;
    cursor: pointer;
}

.about_me a{
    color: white;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.footer-2{
    color: white;
    padding-left: 157px;
    cursor: pointer;
}

.footer-2 h3{
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer-2 p a{
    display: block;
    color: white;
    text-decoration: underline;
}